body {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    padding-top: 70px;
}

div#crypto {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
}

#rigUpgrades{
    display: flex;
}
#speedUpgrades{
    display: flex;
}
.upgrade{
    flex: 1;
}

div#market {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: red;
}

div#click {
    position: relative;
}

div#upgradeMenu {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: -30%;
}

div#upgradeMenuButton {
    position: relative;
    height: 20%;
    width: 100%;
    background-color: #e9f1f7 ;
    color: #0C6291;
    font-family: consolas;
    text-align: center;
    font-size: 300%;
    user-select: none;
    cursor: pointer;
}

div#upgradeMenuButton:hover, div#upgradeMenuButton:active {
    background-color: #3D3D3D;
}

div#upgradeMenuDropdown {
    position: relative;
    height: 80%;
    width: 100%;
    background-color: #F5F5F5;
}
.container {
    margin-top: 1%;
    background-color: gray;
    text-align: center;
}

h2 {
    padding: 2%;
}

.landing {
    display: none;
}
